<h1>Cadastro</h1>

<form [formGroup]="form">
  <fieldset>
    <table class='table table-striped' aria-labelledby="tableLabel">

      <tbody>
        <tr>
          <td>Nome completo:</td>
          <td><input type="text" name="nome" placeholder="Nome Completo" minlength="2" maxlength="100"
              required="required" autofocus [(ngModel)]='candidato.nome' formControlName="nome">
            <br><small *ngIf="form.controls.nome.invalid && !form.controls.nome.pristine">De 2 à 100 caracteres, somente
              letras sem caracteres especiais</small>
          </td>
        </tr>
        <tr>
          <td>Nome do vice:</td>
          <td><input type="text" name="nomeVice" placeholder="Nome do vice" minlength="2" maxlength="100"
              required="required" autofocus [(ngModel)]='candidato.vice' formControlName="vice">
            <br><small *ngIf="form.controls.vice.invalid && !form.controls.vice.pristine">De 2 à 100 caracteres, somente
              letras sem caracteres especiais</small>
          </td>
        </tr>
        <tr>
          <td>Legenda:</td>
          <td><input type="number" name="legenda" placeholder="Legenda" min="2" max="100" required="required" autofocus
              [(ngModel)]='candidato.legenda' formControlName="legenda">
            <br><small *ngIf="form.controls.legenda.invalid && !form.controls.legenda.pristine">Número da legenda de 01
              à
              99</small>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <button class="btn btn-success" [disabled]="form.invalid" (click)="addCandidato()">SALVAR</button>
  </fieldset>
</form>
